/*
. Amy Hanvoravongchai
. Stylesheet for helloimamy.com index, 404 page
*/

/* Animations ----------------------------------- */

@-webkit-keyframes fadeup {
  0% {
    opacity: 0;
    -webkit-transform: translate(0px, 20px);
  }
}
@-moz-keyframes fadeup {
  0% {
    opacity: 0;
    -moz-transform: translate(0px, 20px);
  }
}
@keyframes fadeup {
  0% {
    opacity: 0;
    transform: translate(0px, 20px);
  }
}

/* end Animations */

/* Typeface ----------------------------------- */
@font-face {
  font-family: "Brandon";
  font-weight: 700;
  src: url("../fonts/Brandon_bld.otf") format("opentype");
}
@font-face {
  font-family: "Brandon";
  font-weight: 500;
  src: url("../fonts/Brandon_med.otf") format("opentype");
}

@font-face {
  font-family: "Lazer84";
  src: url("../fonts/Lazer84.ttf") format("truetype");
}
/* end Typeface */

/* General/Globals ----------------------------------- */

body,
html {
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
  background-color: #fff;
}

strong {
  font-weight: bold;
}

a {
  /* background-color: #fffa67 !important; */
  /*font-style: italic;*/
}

a,
a .fa {
  text-decoration: none;
  color: #000;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-weight: 500;
}
a:hover,
a .fa:hover {
  /*!* this will be active if there is an importnat*!*/
  text-decoration: line-through;
  color: #3c3c3c;
}

.container {
  padding: 0 60px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.lanakashino {
  font-family: "Overpass Mono", monospace;
}

.my-h1 {
  font-size: 3em;
  width: 730px;
  display: block;
  margin: 0.5em auto;
  margin-top: 5em;
  font-family: "Brandon";
  letter-spacing: 1px;
  padding: 0;
  line-height: 1.4;
  font-weight: 500;
  color: #000;
  text-align: left;
}

.my-h1-center {
  font-size: 2em;
  width: 730px;
  display: block;
  margin: 0.5em auto;
  margin-top: 5em;
  font-family: "Brandon";
  letter-spacing: 1px;
  padding: 0;
  line-height: 1.4;
  font-weight: 500;
  color: #000;
  text-align: center;
}

.my-h2 {
  font-size: 1em;
  font-family: "Roboto Mono";
   /*font-family: 'Brandon';*/
  line-height: 1.4;
  margin: 3em 0 1em 0;
  font-weight: 500;
  color: #000;
}

.row-auto {
  margin: 0 auto;
}

.half-width {
  width: 50%;
}

.contents {
  width: 1000px;
  display: block;
  margin: 0 auto;

  animation: fadeup 1.5s;
  -webkit-animation: fadeup 1.5s;
  -moz-animation: fadeup 1.5s;
}

p {
  display: block;
  margin: 0 auto;
  font-size: 1em;
  letter-spacing: 0;
  line-height: 1.8;
  font-weight: 300;
}

.hr-divider {
  width: 40px;
  color: #cdcdcd;
  border-top: 5px dashed;
  margin: 2em auto 6em auto;
}

.main {
  margin-top: 30px;
}

/* end General */

/* Buttons ----------------------------------- */
.shadow-cta {
  /*get in touch button*/

  /* page load animation */
  animation: fadeup 1.6s;
  -webkit-animation: fadeup 1.6s;
  -moz-animation: fadeup 1.6s;
  /*transition: transform .3s ease-out;*/
  margin-top: 60px;
  padding: 20px;
  font-size: 1.125em;
  background-color: #fff;
  box-shadow: 3px 9px 35px rgba(0, 0, 0, 0.38);
}
.shadow-cta:hover {
  /*box-shadow: 3px 15px 35px rgba(0, 0, 0, 0.38);*/
}

/*hover applied to projects card*/
.lift-hover {
  transition: transform 0.3s ease-out;
}
.lift-hover:hover {
  transform: translate(0, -5px);
}

/*view more button*/
.more-cta {
  margin-top: 40px;
  border: none;
  /* border-bottom: 2px solid #cdcdcd; */
  /* transition: border .3s ease; */
  /* padding-bottom: 6px; */

  padding: 1em;
  /* display: inline-block; */
}
/* .more-cta i {
    transition: padding .3s ease;
}
.more-cta:hover > i{
   padding-left: 3.5em;
}
.more-cta i { padding-left: 1.5em;} */

/* end Buttons */

/* Nav ----------------------------------- */
#sidebar {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 0;
  position: fixed;
}
#side-name {
  font-weight: 500;
  font-size: 1em;
  color: #cdcdcd;
  transform: rotate(-90deg);
  letter-spacing: 1px;
  /* text-transform: uppercase; */
  line-height: 1.8;
}
#side-name a {
  color: #cdcdcd
}

#initials {
  text-align: center;
  width: 100%;
  color: #cdcdcd;
  margin-top: 7em;
  font-family: "Lazer84";
}

nav {
  font-family: Helvetica;
  font-style: italic;
}

.navbar-brand:hover {
  text-decoration: none;
}

.navbar-nav a:hover {
  text-decoration: line-through;
  color: #0f0f0f;
}

.navbar-nav > .active {
  color: #0f0f0f;
}

/* end Nav */

/* Intro (hero) ----------------------------------- */
.intro {
  margin: 6em 0;
}

.icon {
  width: 20px;
  margin-bottom: 20px;
}

.bio {
  /*margin-top: 10em;*/
}

.bio h2 {
  font-family: "Varela";
  font-weight: 700;
}
.bio p {
  display: block;
  margin: 0 auto;
  width: 730px;
}

.em-wave {
  -webkit-animation-name: wave;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-duration: 1.2s;
  -moz-animation-duration: 1.2s;
  -o-animation-duration: 1.2s;
  animation-duration: 1.2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
.em-wave:hover {
  -webkit-animation-name: wave;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -o-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes wave {
  0% {
    -ms-transform: rotate(24deg);
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
  }
  50% {
    -ms-transform: rotate(-1deg);
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg);
  }
  100% {
    -ms-transform: rotate(24deg); /* IE 9 */
    -webkit-transform: rotate(24deg); /* Chrome, Safari, Opera */
    transform: rotate(24deg);
  }
}

/* end Intro */

/* Projects ----------------------------------- */
.projects {
  margin: 6em auto;
   /*width: 750px;*/
  display: block;

  /* page load animation */
  animation: fadeup 1.6s;
  -webkit-animation: fadeup 1.6s;
  -moz-animation: fadeup 1.6s;
}

.project-info {
  padding: 1em 0 10em 0;
}

.projects img {
  /* -webkit-filter: grayscale(100%);
   filter: grayscale(100%); */
}

#card-pad-right {
  padding-right: 5px;
}
#card-pad-left {
  padding-left: 5px;
}
.project {
  width: 100%;
  box-shadow: 3px 9px 35px rgba(0, 0, 0, 0.15);
  height: auto;
  background-color: #fff;
  /*padding-left: 0;*/
  -webkit-transition: box-shadow 0.8s ease-out;
  -moz-transition: box-shadow 0.8s ease-out;
  -o-transition: box-shadow 0.8s ease-out;
  transition: box-shadow 0.8s ease-out;
}


.projects {
  width: 75%;
}

.projects img {
  width: 100%;
  /*-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  /*filter: grayscale(100%);*/
}

#projecthover {
  box-shadow: 3px 9px 35px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.5s ease-out;
}

.projects #projects-cta {
  width: 100%;
  /*padding: 20px 0;*/
  margin-top: 60px;
  font-size: 1.125em;
}

.projects #cta-container {
  margin-top: 3em;
  /*clear: both !important;*/
  text-align: center;
}
.projects #cta-container a {
  font-weight: 700;
}
/* end Projects */

.entry {
  margin-bottom: 2em;
  margin-bottom: 2em;
}

/* Experiences ----------------------------------- */

.experiences {
  margin-top: 3em;
}
.experiences p {
  background-color: #fff;
}

.experiences .p-2 {
  background-color: #fff !important;
}


 .experiences img {
  width: 100%;
  vertical-align: middle;
   padding-right: 1em;
}

/* end Experiences */

/* Education ----------------------------------- */

#ubc-logo {
  margin-bottom: 3em;
  margin-top: 1em;
}

/* end Education */

/* Footer ----------------------------------- */
footer {
  width: 100%;
  margin: 100px 0 80px 0;
  padding-top: 30px;
  /* border-top: 1px solid #CDCDCD; */
}
footer div {
  display: inline-block;
  line-height: 2;
}

.social-medias {
  float: right;
}
.social-medias a {
  padding: 0 0.89em;
  color: #3c3c3c;
}

/* end Footer */

/* Queries ----------------------------------- */
@media screen and (max-width: 1024px) {
  .my-h1 {
    font-size: 2em;
    line-height: normal;
    width: auto;
    /* letter-spacing: 0.5px; */
  }
  .bio p {
    width: auto;
  }
  .contents {
    width: auto;
  }
  #sidebar {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .contents {
    margin: 15px;
  }
  .container {
    padding: 0 40px;
  }
}

@media screen and (max-width: 768px) {
  .my-h1 {
    text-align: left;
  }
  .my-h1 br {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  footer div {
    display: block;
    text-align: center;
    /*border-bottom: 1px solid #000;*/
  }
  .social-medias {
    float: none;
    text-align: center;
    display: block;
    margin-top: 30px;
  }
}

@media screen and (max-width: 480px) {
  #initials {
    margin-top: 0;
  }
  .container {
    padding: 0 2em;
  }
  .contents {
    margin: 0;
  }
  .intro {
    margin: 3.5em 0;
  }
  /* .more-cta {
        margin: 20px auto;
        text-align: center;
        padding: 0px;
        display: block;
    }
    .more-cta i { padding-left: 0 !important;}
    .more-cta:hover > i {
        padding: 0 !important;
    } */
  .nav {
    margin: 44px 0;
  }
  .nav #resume-icon {
    display: unset;
    vertical-align: baseline;
    font-size: 0.8em;
  }
  .nav #resume-txt {
    display: none;
  }
}

@media screen and (max-width: 360px) {
}

@media screen and (max-width: 320px) {
}

/* end Queries */

/* -----------------------------------------
404 Page -----------------------------------
-------------------------------------------- */
.error-page {
  font-family: "overpass mono", sans-serif;
}

.error-page .center-xy {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 15px;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.error-page h5 {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
}

.error-page #back {
  /* border-bottom: 1px solid #999;
    padding-bottom: 5px; */
}
.error-page #back:hover {
}
